.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #f00; /* Optional: Change the color on hover */
  }

/* data-display.component.css */
.image-previews {
  display: flex;
  flex-wrap: wrap;
}

/* Adjust the width and height of the image previews as per your requirement */
.image-preview {
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

/* Add this CSS to your component's CSS file or the global styles file */
.image-container {
  display: inline-block;
  margin: 5px;
  width: 200px; /* Set your desired width */
  height: 120px; /* Set your desired height */
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image fill the container, cropping if necessary */
}