<h2 mat-dialog-title>Registration</h2>
<form #registrationForm="ngForm">
    <mat-form-field>
        <input matInput type="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required email />
        <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          <span *ngIf="emailInput.errors?.['required']">Email is required.</span>
          <span *ngIf="emailInput.errors?.['email']">Invalid email format.</span>
        </mat-error>
      </mat-form-field>
    
  <!-- Password input -->
  <mat-form-field>
    <input matInput type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required />
  </mat-form-field>

  <!-- Confirm Password input -->
  <mat-form-field>
    <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel" required />
  </mat-form-field>

  <!-- Display "Passwords do not match" error -->
  <mat-error *ngIf="!passwordsMatch && registrationForm.dirty">
    Passwords do not match.
  </mat-error>

    <!-- Display "Email already exists" error -->
    <mat-error *ngIf="emailExists">
        Email already in use.
      </mat-error>
    <!-- Display "Email already exists" error -->
    <mat-error *ngIf="emailInvalid">
        Elektronski naslov ni pravilen.
      </mat-error>
  
  <button mat-button (click)="onRegister()">Register</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</form>
