<h2 mat-dialog-title>Registracija</h2>
<form #registrationForm="ngForm">
    <mat-form-field>
        <input matInput type="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required
               placeholder="Elektronski naslov" />
        <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          <span *ngIf="emailInput.errors?.['required']">Potreben je elektronski naslov</span>
          <span *ngIf="emailInput.errors?.['email']">Elektronski naslov ni pravilen</span>
        </mat-error>
    </mat-form-field>

    <!-- Password input -->
    <mat-form-field>
        <input matInput type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required
               placeholder="Geslo" />
    </mat-form-field>

    <!-- Confirm Password input -->
    <mat-form-field>
        <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
               #confirmPasswordInput="ngModel" required placeholder="Potrdiev gesla" />
    </mat-form-field>

    <!-- Display "Passwords do not match" error -->
    <mat-error *ngIf="!passwordsMatch && registrationForm.dirty">
        Gesli se ne ujemata
    </mat-error>

    <!-- Display "Email already exists" error -->
    <mat-error *ngIf="emailExists">
        Elektronski naslov že v uporabi.
    </mat-error>
    <!-- Display "Email already exists" error -->
    <mat-error *ngIf="emailInvalid">
        Elektronski naslov ni pravilen.
    </mat-error>

    <div class="button-container">
        <button mat-button (click)="onRegister()">Registracija</button>
        <button mat-button (click)="onCancel()">Zapri</button>
    </div>
</form>
