.map-container {
    position: absolute;
    top: 80px; /* Adjust the value to leave space at the top */
    left: 200px; /* Adjust the value to leave space at the left */
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }