<div class="filters">
  <div class="checkbox-item">
    <label>
      <input type="checkbox" [(ngModel)]="showOciscenoTrue" (change)="updateMarkers()" />
      Očiščena odlagališča
    </label>
  </div>
  <div class="checkbox-item">
    <label>
      <input type="checkbox" [(ngModel)]="showOciscenoFalse" (change)="updateMarkers()" />
      Divja odlagališča
    </label>
  </div>
  <div class="checkbox-item">
    <label>
      <input type="checkbox" [(ngModel)]="showNevarniOdpadki" (change)="updateMarkers()" />
      Odlagališča z nevarnimi odpadki
    </label>
  </div>
</div>

<div #mapContainer class="map-container"></div>

<app-data-display
  *ngIf="isDataDisplayVisible"
  [markerData]="selectedMarkerData"
  [isDataDisplayVisible]="isDataDisplayVisible"
  (closeDataDisplayEvent)="closeDataDisplay()"
></app-data-display>

<div class="registration-button-container">
  <!-- Show login and registration buttons if user is not logged in -->
  <button *ngIf="!userService.isLoggedIn()" mat-raised-button color="primary" (click)="openRegistrationDialog()">
    Registracija
  </button>
  <button *ngIf="!userService.isLoggedIn()" mat-raised-button color="primary" (click)="openLoginDialog()">
    Prijava
  </button>

  <!-- Show user email and logout button if user is logged in -->
  <div *ngIf="userService.isLoggedIn()" class="user-info-container">
    <span>{{ userService.getUserData()?.email }}</span>
    <button mat-raised-button color="warn" (click)="logout()">Odjava</button>
  </div>
</div>

<div class="add-marker-button-container" *ngIf="userService.isLoggedIn()">
  <button mat-raised-button color="primary" [disabled]="isDataDisplayVisibleAddMarker" (click)="onAddMarker()">Dodaj odlagališče</button>
</div>

<!-- Show the AddDataComponent when isDataDisplayVisibleAddMarker is true -->
<app-add-data
  *ngIf="isDataDisplayVisibleAddMarker"
  [markerData]="selectedMarkerData"
  (markerDataChange)="updateMarkerData($event)" 
  (dataAdded)="onDataAdded()"
  (closeDialog)="onAddDataClose()"
></app-add-data>

