<div class="popup">
    <button class="close-button" (click)="closePopup()">X</button>
  
    <p>Navodila za ogled divjih odagališč:</p>
    <ul>
      <li>Na zemljevidu si lahko izberete katerokoli lokacijo divjega odlagališča in  na izbrano lokacijo kliknete</li>
      <li>Na levi strani spletne strani se vam bodo prikazale informacije o divjem odlagaloišču, za pregled drugih lokacij vam ni potrebno zapirati informacij, temveč lahko kar kliknete na lokacijo drugega divjega odlagališča</li>
    </ul>

    <p>Navodila za dodajanje novega divjega odagališča:</p>
    <ul>
      <li>Če še nimate računa se je za prijavo novega divjega odlagališča potrebno registrirati, za registracijo potrebujete le elektronski naslov in izbrano geslo</li>
      <li>Po opravljeni registraciji se je v sistem potrebno prijaviti, zato se prijavite v sistem</li>
      <li>Ko ste uspešno prijavljeni v sistem se bodo spremenili gumbi in tam kjer so bili gumbi za prijavo on registracijo so sedaj gumbi za odajvo in dodajanje odlagališča, sedaj kliknete na gumb dodaj odlagališče</li>
      <li>Ob kliku na ta gumb se vam na levi strani prikaže meni v katerega lahko vneste podatke, o odagališču. Podatki niso obvezni, razen koordinat tako da vnesite podatke , ki jih imate in kilknite na lokacijo na zemljevidu, da pridobite koordinate.V primeru, da kliknete na napačno lokacijo lahko ponovno kliknente na zeljevid za nove koordinate.</li>
      <li>Ko vneste vse podatke jih ponovno preglejte, če ste vnesli vse podatke pravilno lahko kliknete na gumb shrani. Ko pritisntete gumb shrani ste dodali novo divje odlagališče, ki pa bo imelo status nepotrjenega odlagališča.</li>
      <li>Odlagališče bo potrjeno, ko bo administrator pregeldal vašo prijavo, naredil popravke, če je to potrebno in potrdil da tam odlagališče res obstaja.</li>
    </ul>
  </div>